.blog-form-wrapper {
    grid-gap: 21px;
    grid-template-columns:  1fr;
    padding: 42px; 
 //    border: 1px solid red;
 
    @include input-element();
    input {
       margin-bottom: 10px;
       // border: 1px solid red;
 
    }

    .image-uploaders {
      @include base-grid();
       grid-template-columns: 200px;
       margin-bottom : 20px;
   }
}